{% extends "base.html" %}

{% block title %}
    <title>Zmiana hasła</title>
{% endblock %}

{% block content %}
    <main>
        <script>
            function formValidation() {
                let basePassword = document.getElementById("password").value;
                let repeatedPassword = document.getElementById("repeatPassword").value;
                if (basePassword !== repeatedPassword) {
                    let alert = document.getElementById("alert")
                    alert.innerText = "Hasła nie są takie same";
                    alert.hidden = false;
                    return false;
                }
                return true;
            }
        </script>
        <div class="alert alert-warning" id="alert" role="alert"  {% if not warning %} hidden="hidden" {% endif %}>
            {{ warning }}
        </div>
        <form action="/profile/password_change/" method="POST" onsubmit="return formValidation()">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
            </div>
            <div class="form-group">
                <label for="repeatPassword">Powtórz hasło</label>
                <input type="password" class="form-control" id="repeatPassword" placeholder="Password"/>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">Zmień hasło</button>
            </div>
        </form>
    </main>
{% endblock %}